* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: redwing;
  src: url(assets/font/Redwing-Medium.otf);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

.landing_inner {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  position: relative;
  top: 40px;
  left: 70px;
}

h1.title {
  font-family: redwing;
  font-size: 70px;
  color: rgb(84, 83, 83);
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.5s;
}

.section.active h1.title {
  opacity: 1;
  transform: translateX(0);
}

#sec0 {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}
#sec1 {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
#sec2 {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}
#sec3 {
  background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%);
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: rgb(225, 222, 222);
}

/* hamburger menu design */
#nav_icon {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
}
#nav_icon div {
  position: relative;
  width: 100%;
  height: 100%;
}

#nav_icon div span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  transition: all 0.3s ease-in-out;
}

#nav_icon div span:nth-child(1) {
  top: 0;
}
#nav_icon div span:nth-child(2) {
  top: 10px;
}
#nav_icon div span:nth-child(3) {
  top: 20px;
}

body.nav_active #nav_icon div span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}
body.nav_active #nav_icon div span:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}
body.nav_active #nav_icon div span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

nav {
  position: fixed;
  z-index: 2;
  top: 30px;
  right: 60px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(50px);
  visibility: hidden;
}

nav ul {
  display: flex;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  color: rgba(50, 50, 50, 0.664);
}

body.nav_active nav {
  opacity: 1;
  transform: translateX(0px);
  visibility: visible;
}

/*Landing page*/
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: #222;
  font-family: redwing;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 12vmin;
  padding: 2vmin 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #767676;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  right: 0;
  transform: translate(0, -100%);
}

.text-bottom p {
  font-size: 18px;
}

/* about me page */
.about-wrap {
  width: 100%;
  max-width: 1000px;
  margin: auto;
  display: flex;
  position: absolute;
  top: 100px;
  left: 20px;
  justify-content: center;
  align-items: center;
}

.about-wrap .from-left {
  width: 50%;
  margin-right: 50px;
  position: relative;
  top: 20px;
  font-size: 18px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0;
  transform: translateX(-100%);
  transition: all 0.3s ease-in-out;
  transition-delay: 1.3s;
}

.section.active .from-left {
  opacity: 1;
  transform: translateX(0);
}

.about-wrap .from-right {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 5px solid #f1ebf1;
  width: 400px;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.3s ease-in-out;
  transition-delay: 0.8s;
}

.section.active .from-right {
  opacity: 1;
  transform: translateX(0);
}

/* icons */
.icon-wrapper {
  width: 100vw;
  display: flex;
  position: absolute;
  bottom: 70px;
  left: 40%;
}

.icon-wrapper .icons {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.icon-wrapper a {
  font-size: 40px;
  position: relative;
  top: 5px;
  color: rgb(163, 166, 171);
  cursor: pointer;
}

.icon-wrapper .icons .tooltip {
  width: 95px;
  position: absolute;
  top: 0px;
  background: #fff;
  font-size: 15px;
  padding: 10px 13px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon-wrapper .icons:hover .tooltip {
  top: -50px;
  opacity: 1;
  pointer-events: auto;
  color: #fff;
}

.icon-wrapper .icons .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon-github {
  text-align: center;
}

.icon-wrapper .icon-linked:hover .tooltip,
.icon-wrapper .icon-linked:hover .tooltip:before {
  background: #2867b2;
}
.icon-wrapper .icon-linked a:hover {
  color: #2867b2;
}

.icon-wrapper .icon-github:hover .tooltip,
.icon-wrapper .icon-github:hover .tooltip:before {
  background: #333;
}
.icon-wrapper .icon-github a:hover {
  color: #333;
}

@media screen and (max-width: 767px) {
  .about-wrap {
    display: flex;
    flex-direction: column-reverse;
  }
  .about-wrap .from-left {
    width: 300px;
    font-size: 15px;
    position: relative;
    left: -15%;
  }
  .about-wrap .from-right {
    width: 300px;
    height: 200px;
    position: relative;
    left: -20%;
  }

  h1.title {
    font-size: 50px;
  }
}
