* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* @font-face {
  font-family: redwing;
  src: url(assets/font/Redwing-Medium.otf);
} */
@font-face {
  font-family: protique;
  src: url(assets/font/ProtiqueBlack.otf);
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1.title {
  font-family: protique;
  font-size: 70px;
  color: rgb(84, 83, 83);
}

.landing_inner {
  height: 100%;
  max-width: 1200px;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inner {
  height: 100%;
  max-width: 1900px;
  margin: 50px;
}
/* background-image: linear-gradient(135deg, #f5f7fa 0%, #c3cfe2 100%); */
#sec0 {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #f7f1f7 100%);
}
#sec1 {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #f9ecf8 100%);
}
#sec2 {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #f9ecf8 100%);
}
#sec3 {
  background-image: linear-gradient(120deg, #fdfbfb 0%, #f9ecf8 100%);
}

#fp-nav ul li a span,
.fp-slidesNav ul li a span {
  background-color: rgb(163, 166, 171);
}

/* icons */
.icon-wrapper {
  position: absolute;
  display: flex;
  bottom: 3%;
  right: 3%;
}

.icon-wrapper .icons {
  margin: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  z-index: 2;
  cursor: pointer;
}

.icon-wrapper a {
  font-size: 40px;
  position: relative;
  top: 5px;
  color: rgb(163, 166, 171);
  cursor: pointer;
}

.icon-wrapper .icons .tooltip {
  width: 95px;
  position: absolute;
  top: 0px;
  background: #fff;
  font-size: 15px;
  padding: 10px 13px;
  border-radius: 25px;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  opacity: 0;
  pointer-events: none;
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon-wrapper .icons:hover .tooltip {
  top: -50px;
  opacity: 1;
  pointer-events: auto;
  color: #fff;
}

.icon-wrapper .icons .tooltip:before {
  position: absolute;
  content: "";
  height: 15px;
  width: 15px;
  background: #fff;
  bottom: -8px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.icon-github {
  text-align: center;
}

.icon-wrapper .icon-linked:hover .tooltip,
.icon-wrapper .icon-linked:hover .tooltip:before {
  background: #2867b2;
}
.icon-wrapper .icon-linked a:hover {
  color: #2867b2;
}

.icon-wrapper .icon-github:hover .tooltip,
.icon-wrapper .icon-github:hover .tooltip:before {
  background: #333;
}
.icon-wrapper .icon-github a:hover {
  color: #333;
}

/* hamburger menu design */
#nav_icon {
  position: fixed;
  top: 30px;
  right: 30px;
  width: 30px;
  height: 25px;
  cursor: pointer;
  z-index: 3;
}
#nav_icon div {
  position: relative;
  width: 100%;
  height: 100%;
}

#nav_icon div span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: rgb(163, 166, 171);
  transition: all 0.3s ease-in-out;
}

#nav_icon div span:nth-child(1) {
  top: 0;
}
#nav_icon div span:nth-child(2) {
  top: 10px;
}
#nav_icon div span:nth-child(3) {
  top: 20px;
}

body.nav_active #nav_icon div span:nth-child(1) {
  transform: rotate(45deg);
  top: 10px;
}
body.nav_active #nav_icon div span:nth-child(2) {
  transform: translateX(100%);
  opacity: 0;
}
body.nav_active #nav_icon div span:nth-child(3) {
  transform: rotate(-45deg);
  top: 10px;
}

/* nav menu */
nav {
  position: fixed;
  z-index: 2;
  top: 30px;
  right: 60px;
  opacity: 0;
  transition: all 0.3s ease-in-out;
  transform: translateX(50px);
  visibility: hidden;
}

nav ul {
  display: flex;
}
nav ul li {
  margin-right: 20px;
}
nav ul li a {
  font-family: protique;
  color: rgba(50, 50, 50, 0.664);
}

body.nav_active nav {
  opacity: 1;
  transform: translateX(0px);
  visibility: visible;
}

#underline {
  position: absolute;
  left: 0;
  height: 4px;
  width: 0;
  border-radius: 3px;
  transition: 0.5s;
  background-color: rgb(210, 178, 205);
  top: 0;
}

/*Landing page*/
@keyframes showTopText {
  0% {
    transform: translate3d(0, 100%, 0);
  }
  40%,
  60% {
    transform: translate3d(0, 50%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
@keyframes showBottomText {
  0% {
    transform: translate3d(0, -100%, 0);
  }
  100% {
    transform: translate3d(0, 0, 0);
  }
}
.animated-title {
  color: #222;
  font-family: Protique;
  height: 90vmin;
  left: 50%;
  position: absolute;
  top: 60%;
  transform: translate(-50%, -50%);
  width: 90vmin;
}
.animated-title > div {
  height: 50%;
  overflow: hidden;
  position: absolute;
  width: 100%;
}
.animated-title > div div {
  font-size: 17vmin;
  padding: 5px 0;
  position: absolute;
}
.animated-title > div div span {
  display: block;
}
.animated-title > div.text-top {
  border-bottom: 1vmin solid #000;
  top: 0;
}
.animated-title > div.text-top div {
  animation: showTopText 1s;
  animation-delay: 0.5s;
  animation-fill-mode: forwards;
  bottom: 0;
  transform: translate(0, 100%);
}
.animated-title > div.text-top div span:first-child {
  color: #767676;
}
.animated-title > div.text-bottom {
  bottom: 0;
}
.animated-title > div.text-bottom div {
  animation: showBottomText 0.5s;
  animation-delay: 1.75s;
  animation-fill-mode: forwards;
  top: 0;
  right: 0;
  transform: translate(0, -100%);
}

.text-bottom p {
  font-size: 20px;
}

/* about me page */
.content {
  width: 100%;
  max-width: 1900px;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1.title-about {
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.7s;
}

.section.active h1.title-about {
  opacity: 1;
  transform: translateY(0);
}
.content-section h3 {
  margin-top: 20px;
  font-size: 25px;
  font-family: protique;
}

.content-section {
  display: block !important;
  width: 50%;
  float: left;
  margin-left: 20px;
}

.content-section p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.content-section .from-left .button a {
  background: linear-gradient(to top, #767676 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  border: 2px solid #767676;
  border-radius: 10px;
  padding: 10px 20px;
  position: relative;
  top: 20px;
  font-size: 20px;
  font-weight: bold;
  font-family: protique;
  letter-spacing: 1.5px;
  transition: all 0.5s ease-out;
  color: #6a6969;
}

.content-section .from-left .button a:hover {
  background-position: bottom;
  color: #f6f5f6;
}

.img-section {
  float: right;
  width: 45%;
  height: 100vh;
  margin: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content .content-section .from-left {
  margin-top: 10px;
  font-size: 18px;
  font-family: protique;
  line-height: 1.5;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.7s;
}

.section.active .from-left {
  opacity: 1;
  transform: translateY(0);
}

.content .img-section .from-right {
  border-radius: 50%;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border: 5px solid #f1ebf1;
  width: 90%;
  height: auto;
  opacity: 0;
  transform: translateX(100%);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.7s;
}

.section.active .from-right {
  opacity: 1;
  transform: translateX(0);
}

/* project page */

h1.title-project {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 3%;
}

.title-project {
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.7s;
}

.section.active .title-project {
  opacity: 1;
  transform: translateY(0);
}

.cards-wrapper {
  max-width: 1900px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  transition-delay: 1s;
}

.section.active .cards-wrapper {
  opacity: 1;
  transform: translateY(0);
}

.card {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 25px;
  border: 1px solid lightgray;
  margin: 20px;
  padding-top: 0px;
  position: relative;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: 0.5s ease;
  cursor: pointer;
}

.card:hover {
  transform: scale(1);
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.6);
}

.card .card-image {
  width: 100%;
  height: 180px;
}
.card .card-image img {
  width: 100%;
  height: 100%;
  border-top-right-radius: 25px;
  border-top-left-radius: 25px;
}

.card .card-body {
  height: 120px;
  text-align: center;
  margin: 20px 8px;
  font-family: protique;
}

.card-body h3 {
  font-size: 28px;
  margin-bottom: 15px;
}

.card-body p {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 17px;
  padding-top: 20px;
}

.card .card-btn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card .card-btn a {
  background: linear-gradient(to top, #767676 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  font-family: protique;
  letter-spacing: 2;
  font-size: 20px;
  border: 2px solid #6a6969;
  border-radius: 10px;
  color: #6a6969;
  padding: 5px 10px;
  margin: 20px 10px;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.card .card-btn a:hover {
  background-position: bottom;
  color: #fff;
}

.slider-btn {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 0px auto;
  padding: 0px 20px;
  position: relative;
  top: 20px;
  opacity: 0;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  transition-delay: 1s;
}

.section.active .slider-btn {
  opacity: 1;
  transform: translateY(0);
}

.slider-btn button {
  position: static !important;
  transform: translate(0, 0);
  background-color: f3f3f3;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 10px;
  transition: 0.5s ease;
}

/*contact page*/

#contact-section {
  display: flex;
  justify-content: center;
  align-items: center;
}
.contact-wrapper {
  position: absolute;
  top: 40%;
  transform: translateY(100%);
  transition: all 0.5s ease-in-out;
  transition-delay: 0.3s;
}

.section.active .contact-wrapper {
  opacity: 1;
  transform: translateY(0);
}

.email-button {
  text-align: center;
  margin-top: 20px;
  height: 40px;
}

.email-button a {
  font-family: protique;
  font-size: 23px;
  color: #6a6969;
  background: linear-gradient(to top, #767676 50%, transparent 50%);
  background-size: 100% 200%;
  background-position: top;
  border: 2px solid #767676;
  border-radius: 10px;
  padding: 7px;
  transition: all 0.5s ease-out;
  cursor: pointer;
}

.email-button a:hover {
  background-position: bottom;
  color: #fff;
}
/* footer page */

#footer {
  height: 150px;
}

.arrow {
  border: solid rgb(84, 83, 83);
  border-width: 0 3px 3px 0;
  display: inline-block;
  padding: 3px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.footer-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#top-btn {
  border: none;
  background: none;
  padding-top: 25px;
  cursor: pointer;
}

.footer-body {
  position: absolute;
  bottom: 20%;
}

.footer-body p {
  font-family: protique;
  color: #6a6969;
}

@media screen and (max-width: 768px) {
  .content {
    display: flex;
    flex-direction: column-reverse;
  }
  .content-section {
    width: 80%;
    margin: auto;
    float: none;
    position: absolute;
    top: 10%;
  }

  .img-section {
    float: none;
    opacity: 0;
  }
  /* .img-section .from-right {
    position: relative;
    top: -250px;
    left: 90px;
  } */
  h1.title {
    font-size: 50px;
  }

  .card-body p {
    padding-top: 0px;
  }

  .card .card-btn {
    display: flex;
    flex-direction: column;
    position: relative;
    top: 10px;
  }
  .card .card-btn a:first-child {
    margin-top: 20px 10px 0px 10px;
  }

  .card .card-btn a:nth-child(2) {
    margin-top: 0px;
  }

  .title-project,
  .slider-btn,
  .cards-wrapper {
    position: relative;
    top: 30px;
  }
}
